NEXT_PUBLIC_SUPABASE_URL=https://hhrwtgkmkxpyjujbqlue.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_92EJ92ayz-tQZR2AAd5E0w_vBsCoU2K
NEXT_PUBLIC_ADMIN_PASS=topogis2026
NEXT_PUBLIC_POLLA_URL=
